{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">CONTÁCTANOS</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>        
<!-- FIN ENCABEZADO -->

<!-- CONTENIDO -->
<div class="bg-page">
    <br><br>
    <div class="container mb-5 mt-5 shadow-lg">
        <div class="row">
            <div class="col-md-6">
                <form id="contact-form" action="{% url 'contactanos' %}" method="POST" class="p-4 shadow-lg bg-white rounded-4">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-5 d-flex text-center mx-auto">Enviar mensaje</button>
                </form>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center">
                <img class="w-100 h-auto rounded-3 mb-3" src="{% static 'core/img/contactus.webp' %}" alt="Contact Us">
                <p class="text-center fs-5">Déjanos tus datos, te responderemos por correo o te llamaremos a tu teléfono dependiendo del asunto.</p>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
<!-- FINAL DEL CONTENIDO -->
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault();
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Deseas enviar este mensaje?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, enviar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        });
    });

    {% if form.errors %}
    Swal.fire({
        title: 'Error',
        text: 'Hay algún problema con los datos ingresados, revise nuevamente.',
        icon: 'error',
        confirmButtonText: 'ACEPTAR'
    });
    {% elif form.non_field_errors %}
    Swal.fire({
        title: 'Error',
        text: '{{ form.non_field_errors }}',
        icon: 'error',
        confirmButtonText: 'ACEPTAR'
    });
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    Swal.fire({
        text: '{{ message }}',
        icon: '{{ message.tags }}',
        confirmButtonText: 'ACEPTAR'
    });
    {% endfor %}
    {% endif %}
</script>
{% endblock js %}
