{% extends 'core/base.html' %}

{% block contenido %}
<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">PAGAR RESERVA</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->

<div class="bg-page">
    <br>
    <div class="container mt-4 shadow-lg">
        <div class="card">
            <div class="card-body shadow-lg">
                <!-- Detalles de la Reserva -->
                <h2 class="card-title fw-bold text-uppercase shadow-lg bg-purple text-white">Detalle de la Reserva</h2>
                <div class="table-responsive">
                    <table class="table table-bordered shadow-lg">
                        <tbody>
                            <tr>
                                <th style="width: 40%;">Fecha de Atención:</th>
                                <td>{{ agenda.fechaAtencion }}</td>
                            </tr>
                            <tr>
                                <th>Hora de Atención:</th>
                                <td>{{ agenda.horaAtencion }}</td>
                            </tr>
                            <tr>
                                <th>Tipo de Agenda:</th>
                                <td>{{ agenda.idTipoAgenda }}</td>
                            </tr>
                            <tr>
                                <th>Taller:</th>
                                <td>{{ agenda.idTaller }}</td>
                            </tr>
                            <tr>
                                <th>Patente Vehículo:</th>
                                <td>{{ agenda.idVehiculo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Detalles del Reporte de Pago -->
                {% if reporte_pago %}
                    <h2 class="card-title mt-4 fw-bold text-uppercase shadow-lg bg-purple text-white">Detalle del Reporte de Pago</h2>
                    <div class="table-responsive ">
                        <table class="table table-bordered shadow-lg">
                            <tbody>
                                <tr>
                                    <th style="width: 40%;">Comentario:</th>
                                    <td>{{ reporte_pago.comentario }}</td>
                                </tr>
                                <tr>
                                    <th>Monto a pagar (CLP):</th>
                                    <td>${{ reporte_pago.monto|stringformat:".0f"|floatformat }}</td>
                                </tr>
                                {% if monto_dolares %}
                                <tr>
                                    <th>Monto a pagar (USD):</th>
                                    <td>${{ monto_dolares }}</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
            <div class="text-center mt-3 mb-2">
                <div id="btnPaypal"></div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>

{% endblock contenido %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AUdczilLjDrMGcZtY3F9Xqa4WAmOmJQki8I3sWy9rTnnuxmiPWNOW1RACinASsIaWMDt8QPAbg0JQ1EL',
            production: 'demo_production_client_id'
        },
        locale: 'es_CL',
        style: {
            size: 'large',
            color: 'black',
            shape: 'rect'
        },
        commit: true,
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: { 
                        total: '{{ monto_dolares }}', 
                        currency: 'USD'
                    }
                }]
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '{% url "actualizar_estado_agenda" agenda.idAgenda %}', 
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: '¡EL PAGO SE REALIZÓ CON ÉXITO!',
                                text: 'El estado de su agenda ha sido actualizado a "Pagado".',
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Confirmar'
                            }).then(function () {
                                // Descargar el archivo Word
                                var link = document.createElement('a');
                                link.href = '{% url "generar_documento_word" agenda.idAgenda %}';
                                link.download = response.filename;
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                                window.location.href = '{% url "mis_reservas" %}';
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'No se pudo realizar el pago.',
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Confirmar'
                            });
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error(errorThrown);
                        Swal.fire({
                            title: 'Error',
                            text: 'ERROR EN LA SOLICITUD!',
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Confirmar'
                        });
                    }
                });
            });
        },
        onCancel: function(data) {
            Swal.fire({
                title: '¡CANCELADO!',
                text: 'Transacción cancelada!',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
            });
        },
        onError: function(err) {
            console.error(err);
            Swal.fire({
                title: 'Error',
                text: 'Ha ocurrido un error con el pago',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
            });
        }
    }, '#btnPaypal');
</script>
{% endblock js %}
