{% extends 'core/base.html' %}
{% block contenido %}
<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">MIS RESERVAS</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->
<br>
<!-- INICIO INFO -->
<div class="bg-page">
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Fecha de atención</th>
                                <th scope="col">Hora de atención</th>
                                <th scope="col">Tipo de Agenda</th>
                                <th scope="col">Taller</th>
                                <th scope="col">Patente Vehículo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for agenda in agendas %}
                                <tr>
                                    <td>{{ agenda.fechaAtencion }}</td>
                                    <td>{{ agenda.horaAtencion }}</td>
                                    <td>{{ agenda.idTipoAgenda }}</td>
                                    <td>{{ agenda.idTaller }}</td>
                                    <td>{{ agenda.idVehiculo }}</td>
                                    <td>
                                        {% if agenda.estado.idEstado == 1 %}
                                            <p class="fw-bold bg-warning text-white text-uppercase h5">Aún no disponible para pago.</p>
                                        {% elif agenda.estado.idEstado == 2 %}
                                            <a href="{% url 'detalle_reserva' id_agenda=agenda.idAgenda %}" class="btn btn-primary">Ir a pagar</a>
                                        {% elif agenda.estado.idEstado == 3 %}
                                            <p class="fw-bold bg-success text-white text-uppercase h5">¡Reparación pagada!</p>
                                            <a href='{% url "generar_documento_word" agenda.idAgenda %}'' class="btn btn-primary">DESCARGAR DOCUMENTO</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}
